html{
    font-size:100%;
}

body{
    align-items: center;
    font-family: system-ui, -apple-system, sans-serif;
}

h1{
    color:blue;
    font-size: 5.1rem;
}

.rowbox{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 2.0rem;
    width: calc(100% - 3.0rem);
}

.rowbox:not(.hd){
    font-size: 1.5rem;
}

.row{
    display: flex;
    justify-content: center;
    margin-top:0.5rem;
}

.row.first{
    color:saddlebrown;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.rowbox.hd{
    align-items: center;
    flex-direction: column;
}

.rowbox.navi{
    flex-direction: row;
    justify-content: center;
}

.rowbox.navi .row *{
    color: black;
    font-weight:normal;
}

.rowbox.navi .row a{
    text-decoration: underline;
}

.rowbox.navi .row a.active{
    color: indigo;
    cursor: default;
    font-weight:bold;
    text-decoration: none;
}

.rowbox.start .row{
    display: flex;
    flex-direction: column;
}

.rowbox.start .row .row1{
    font-weight: bold;
}

.rowbox.start .row .row2{
    hyphens: auto;
    margin-top: 1.0rem;
    text-align: justify;
    text-justify: inter-word;
}

.rowbox.kontakt .row .lbl{
    width: 9.0rem;
    display: inline-block;
}

h1,h2{
    cursor:pointer;
    margin: 0;
}

h2{
    color:darkgreen;
    font-size: 2.9em;
}

span.pipe{
    margin: 0 1.0rem;
}