body{
    align-items: center;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 3vw;
    margin: 4vw 0;
}

h1,h2{
    cursor:pointer;
    margin: 0;
}

h1{
    color:blue;
    font-size: 7.75vw;
}

h2{
    color:darkgreen;
    font-size: 4.5vw;
}

span.pipe{
    margin:0 1vw;
}

.rowbox{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.rowbox.first{
    margin-top: 0;
}

.rowbox{
    margin-top: 6vw;
    margin-left: 6vw;
    width: calc(100% - 12vw);
}

.row{
    margin-top: 2vw;
}

.row.first{
    color:saddlebrown;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 0;
}

.rowbox.navi{
    flex-direction: row;
    justify-content: center;
}

.rowbox.navi .row *{
    color: black;
    font-weight:normal;
}

.rowbox.navi .row a{
    text-decoration: underline;
}

.rowbox.navi .row a.active{
    color: indigo;
    font-weight:bold;
    text-decoration: none;
}

.rowbox.start{
    font-size: 2.75vw;
}

.rowbox.start .row{
    display: flex;
    flex-direction: column;
}

.rowbox.start .row .row1{
    font-weight:bold;
}

.rowbox.start .row .row2{
    hyphens: auto;
    margin-top: 2vw;
    text-align: justify;
    text-justify: inter-word;
}

.rowbox.kontakt .row .lbl{
    width: 16vw;
    display: inline-block;
}