.rowbox.navi{
    flex-direction: row;
    height: 7.0rem;
    justify-content: space-between;
    margin-top: 3.0rem;
}

.rowbox.navi .logo .img{
    margin-top: 0.4rem;
}

.rowbox.navi .row *{
    color: black;
    font-size: 1.6rem;
    font-weight:normal;
}

.rowbox.navi .row a{
    text-decoration: underline;
}

.rowbox.navi .row a.active{
    color: indigo;
    cursor: default;
    font-weight:bold;
    text-decoration: none;
}