html{
    font-size:100%;
}

body{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, sans-serif;
    margin: 1.0rem 0;
}

h1, h2, .logo .img{
    cursor:pointer;
    margin: 0;
}

h1{
    color:blue;
    font-size: 5.1rem;
}

h2{
    color:darkgreen;
    font-size: 2.95em;
}

.rowbox{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 2.0rem;
}

.rowbox:not(.hd){
    font-size: 1.5rem;
    width: calc(57.5rem - 1.25rem);
}

.rowbox.hd{
    flex-direction: row;
    width: 57.5rem;
}

.row{
    display: flex;
    justify-content: center;
    margin-top:0.5rem;
}

.row.first{
    color:saddlebrown;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.rowbox.hd{
    align-items: center;
    flex-direction: column;
    margin-top:0;
}

.rowbox.start .row{
    display: flex;
    flex-direction: column;
}

.rowbox.start .row .row1{
    font-weight: bold;
}

.rowbox.start .row .row2{
    hyphens: auto;
    margin-top: 1.0rem;
    text-align: justify;
    text-justify: inter-word;
}

.rowbox.kontakt .row .lbl{
    width: 9.0rem;
    display: inline-block;
}

span.pipe{
    margin: 0 1.0rem;
}